<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>LibraryManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.UserServlet.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.UserServlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.UserServlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDelete</display-name>
    <servlet-name>UserDelete</servlet-name>
    <servlet-class>com.AdminServlet.UserDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDelete</servlet-name>
    <url-pattern>/UserDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAdd</display-name>
    <servlet-name>BookAdd</servlet-name>
    <servlet-class>com.AdminServlet.BookAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAdd</servlet-name>
    <url-pattern>/BookAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDAOImpl</display-name>
    <servlet-name>BookDAOImpl</servlet-name>
    <servlet-class>com.DAO.BookDAOImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDAOImpl</servlet-name>
    <url-pattern>/BookDAOImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryAdd</display-name>
    <servlet-name>CategoryAdd</servlet-name>
    <servlet-class>com.AdminServlet.CategoryAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAdd</servlet-name>
    <url-pattern>/CategoryAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookEdit</display-name>
    <servlet-name>BookEdit</servlet-name>
    <servlet-class>com.AdminServlet.BookEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookEdit</servlet-name>
    <url-pattern>/BookEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDelete</display-name>
    <servlet-name>BookDelete</servlet-name>
    <servlet-class>com.AdminServlet.BookDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDelete</servlet-name>
    <url-pattern>/BookDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookReturn</display-name>
    <servlet-name>BookReturn</servlet-name>
    <servlet-class>com.AdminServlet.BookReturn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookReturn</servlet-name>
    <url-pattern>/BookReturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loan</display-name>
    <servlet-name>Loan</servlet-name>
    <servlet-class>com.UserServlet.Loan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loan</servlet-name>
    <url-pattern>/Loan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEdit</display-name>
    <servlet-name>UserEdit</servlet-name>
    <servlet-class>com.UserServlet.UserEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEdit</servlet-name>
    <url-pattern>/UserEdit</url-pattern>
  </servlet-mapping>
</web-app>